body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0 auto;
    padding: 0;
}

ul, 
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    margin: 0;
    padding: 0;
    text-transform: capitalize
}

p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
/* common*/

.hidden {
    display: none;
}


.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 320px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-list,
.contacts {
    display: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-right {
    color: #2e2f42;
}

.logo-left {
    display: block;
    padding: 16px 0;
}

.burger-btn {
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .contacts {
        display: block;
        font-style: normal;
    }
    
    .header-nav {
        display: flex;
        align-items: center;
    }

    .logo-left {
        padding: 24px 0;
        margin-right: 120px;
    }
}